Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

PointerAlignment: Right
ReferenceAlignment: Right

SortIncludes: CaseInsensitive

IndentCaseLabels: true
AccessModifierOffset: -4
NamespaceIndentation: None

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Attach

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true

StatementMacros:
  - Q_OBJECT
  - signals
  - slots